body {
    background-color: rgb(253, 251, 251);
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/*Cabeçalho*/

#cabecalho {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 120px;
    background-color: rgb(253, 251, 251);
    width: 100%;
    text-align: center;
}

/*Fim cabeçalho*/
/*Navegação*/

#navigation {
    background-color: #2fc18c;
    padding: 14px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navigation ul {
    margin: 0;
    padding: 0; /*Zerando o padding e margin padrões da lista para facilitar a padronização ;)*/
    list-style: none; /*Para garantir que as bolinhas sumam xD*/
}

#navigation ul li{
    display: inline-block; /*Assim os links ficam em linha, e não listados um sobre o outro*/
    margin: 0 40px;
    padding: 0; /*Para garantir que padding venha somente do navigation*/
}

#navigation ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*Fim navegação*/

/* #all-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
} */

#lista_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#lista_links li{
    display: inline; 
    list-style: none; 
    /* margin-right: 20px; */
}

#lista_links li:last-child {
    margin-right: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 150px; /*Para garantir que o cabeçalho não vai sobrepor o meu main, pois ele está fixado no topo, tem 120px, e ainda tem algumas margens/paddings que aumentam um pouco o tamanho*/
}

#minha_foto {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 15px;
}

#github {
    background-color: rgb(50, 50, 50);
}

#portfolio {
    background-color: #772ce8;
}

#linkedin {
    background-color: #0a66c2;
}

#github, #portfolio, #linkedin {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;  /*Aqui meus links externos ficam parecendo botões :)*/
}

#licoes_aprendidas li, #licoes_a_aprender li{
    line-height: 150%;
}

.lado-direito {
    width: 30%;
    padding-left: 15px; /*consultei o w3schools para ver como colocaria o conteúdo à direita sem ficar ~estranho~*/
    margin-left: 15px;
    float: right;
}

.lado-esquerdo {
    display: flex;
    /* width: 60%; */
}

#foto_e_links {
    text-align: center;
}

#foto_e_links ul {
    padding: 0;
    text-align: center;
}

aside .depoimento {
    font-style: italic;
    line-height: 150%;
}

#meu_aprendizado p {
    line-height: 150%;
}

#colunas {
    display: flex;
    justify-content: space-evenly;
}

#aprender, #aprendido {
    display: inline-block; /*assim, as duas listas ficarão uma ao lado da outra*/
    text-align: left;
}

#rodape {
    justify-content: center;
    display: flex;
    font-size: 12px;
    background-color: rgb(239,239,239);
    width: 100%;
}

@media screen and (max-width: 500px) {
    #colunas {
        display: none;
    }
    #navigation {
        display: none;
    }
    #cabecalho {
        position: unset;
    }
    header h1 {
        padding: 15px 0;
        background-color: #2fc18c;
        color: #fff;
    }
    .lado-direito {
        padding: 0;
        width: auto;
        
        /* position: absolute; */
    }
    .lado-esquerdo {
        margin: 0;
        /* float: right; */
    }
    #all-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #meu_aprendizado {
        margin-left: 15px;
        margin-bottom: 15px;
    }
}