body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #ededed;
  background-image: url(./images/leone-venter-VieM9BdZKFo-unsplash.jpg);
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position-x: 80%;
}

#all-content {
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: 10px;
  position: absolute;
  left: 20%;
}

header span{
  font-size: 36px;
  font-weight: 600;
}

#funcionamento {
  font-size: 14px;
  font-style: italic;
}

.completed {
  text-decoration: line-through;
}

.selected {
  background-color: rgb(128,128,128);
}

.botoes {
  display: flex;
  flex-direction: column;
}

.altera-selecionado, .altera-tudo {
  margin-top: 10px;
}