body {
  font-size: 16px;
  font-family: sans-serif;
}

header span{
  font-size: 36px;
  font-weight: 600;
}

#funcionamento {
  font-size: 14px;
  font-style: italic;
}

.completed {
  text-decoration: line-through;
}

.selected {
  background-color: rgb(128,128,128);
}

/* #mover-cima, #mover-baixo {
  width: auto;
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 10px;
}

#mover-cima img, #mover-baixo img {
  width: 24px;
}  */