@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.congrats {
  font-family: 'Fuzzy Bubbles', cursive;
}

.info {
  font-family: 'sans-serif';
}

.timer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}