@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.all-content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;
    padding-top: 10px;
}

.name {
    text-align: center;
}

.meu-nome {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #772ce8;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-top: 10px;

}

.photo {
    display: inline-block;
    padding: 10px 25px; 
}

.photo img {
    border-radius: 5px;
    border: 5px solid white;
}

.description-div {
    display: inline-block;
    width: 500px;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 150%;
}

.description-div img {
    width: 200px;
}

.description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

em {
    font-weight: 550;
}

strong {
    color: yellow;
}

.link_interno {
    text-decoration: none;
    line-height: 30px;
    color: #772ce8;
}

.link-externo {
    text-decoration: none;
    line-height: 30px;
    color: white;
    background-color: #772ce8;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 7px;

}

ul {
    line-height: 200%;
}

#projects-list a{
    text-decoration: none;
    font-size: 16px;
    color: #772ce8;
}

#projects-list {
    list-style: none;
}

#projects-list li {
    display: inline;
    margin-right: 30px;
}

#projects-list img{
    padding: 0 5px;
}

#projects-list img:hover{
    border: 2px solid black;
}

#projects-list li:nth-child(6) img {
    width: 50px;
}