* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 40%;
    /* flex-shrink: 0; */
}

#header-container {
    color: #ffffff;
    background-color: darkblue;
    display: flex;
    justify-content: center;
}


