@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  font-weight: 600;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 80px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input{
  margin-right: 5px;
}

main {
  display: flex;
  margin: 15px auto;
  width: 90%;
}

#main-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#evaluation-form {
  display: flex;
  width: 60%;
  flex-direction: column;
}

#div-logo {
  width: 40%;
  align-self: flex-start;
}

#trybewarts-forms-logo {
  width: 100%;
  max-width: 400px;
}

.divs-formulario {
  margin-top: 10px;
}

#div-family {
  display: flex;
  flex-direction: column;
}

#div-nome-sobrenome , #div-email-house {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

#div-rate {
  display: flex;
  flex-direction: column;
}
#div-rate div span {
  margin-right: 5px;
}

#div-rate span {
  align-self: flex-start;
}

#div-textarea {
  display: flex;
  flex-direction: column;
}

#div-textarea textarea{
  height: 100px;
  width: auto;
  resize: none;
}

footer {
  text-align: center;
  font-size: 12px;
  background-color: #ddd;
}

@media screen and (max-width: 850px) {
  body {
    width: 100%;
  }
  .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    
  }
  .trybewarts-login {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 10px;
  }
  .trybewarts-header-logo, #trybewarts-header-title {
    padding-right: 20px;
  }
  #main-content {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  #evaluation-form {
    width: 90%;
  }
  #div-logo {
    display:flex;
    order: -1;
    width: fit-content;
    margin: 0 auto;
  }
  #trybewarts-forms-logo {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .trybewarts-login input{
    width: 40%;
  }
  #div-nome-sobrenome input, #div-email input {
    width: 90%;
  }

  #div-logo {
    display:flex;
    order: 1;
    width: fit-content;
    margin: 0 auto;
  }
  #div-rate {
    display: flex;
    flex-direction: column;
  }
  footer {
    padding: 0 15px;
  }
}