* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 80px;
  padding: 10px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#div-family {
  display: flex;
  flex-direction: column;
}

#div-nome-sobrenome , #div-email-house {
  display: flex;
}

#div-rate {
  display: flex;
  justify-content: space-between;
}
