* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#chessBoard {
  display: block;
  width: 640px;
  height: 640px;
  background-color: #ccc;
  position: relative;
  font-size: 64px;
}

#gridLayer, #piecesLayer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-wrap: wrap;
}

#gridLayer .square {
  display: block;
  width: 12.5%;
  height: 12.5%;
}

#gridLayer .square:nth-child(-2n+8), 
#gridLayer .square:nth-child(8) ~ .square:nth-child(-2n+15), 
#gridLayer .square:nth-child(16) ~ .square:nth-child(-2n+24),
#gridLayer .square:nth-child(24) ~ .square:nth-child(-2n+31),
#gridLayer .square:nth-child(32) ~ .square:nth-child(-2n+40),
#gridLayer .square:nth-child(40) ~ .square:nth-child(-2n+47),
#gridLayer .square:nth-child(48) ~ .square:nth-child(-2n+56),
#gridLayer .square:nth-child(56) ~ .square:nth-child(-2n+63) {
  background-color: rgba(0, 0, 0, 0.5);
}

#piecesLayer .piece {
  display: flex;
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: bottom 300ms, left 300ms;
}

#piecesLayer .piece.black {
  color: black;
}

#piecesLayer .piece.white {
  color: white;
}

#piecesLayer .piece.a1 { bottom: 0; left: 0; }
#piecesLayer .piece.a2 { bottom: 12.5%; left: 0; }
#piecesLayer .piece.a3 { bottom: 25%; left: 0; }
#piecesLayer .piece.a4 { bottom: 37.5%; left: 0; }
#piecesLayer .piece.a5 { bottom: 50%; left: 0; }
#piecesLayer .piece.a6 { bottom: 62.5%; left: 0; }
#piecesLayer .piece.a7 { bottom: 75%; left: 0; }
#piecesLayer .piece.a8 { bottom: 87.5%; left: 0; }

#piecesLayer .piece.b1 { bottom: 0; left: 12.5%; }
#piecesLayer .piece.b2 { bottom: 12.5%; left: 12.5%; }
#piecesLayer .piece.b3 { bottom: 25%; left: 12.5%; }
#piecesLayer .piece.b4 { bottom: 37.5%; left: 12.5%; }
#piecesLayer .piece.b5 { bottom: 50%; left: 12.5%; }
#piecesLayer .piece.b6 { bottom: 62.5%; left: 12.5%; }
#piecesLayer .piece.b7 { bottom: 75%; left: 12.5%; }
#piecesLayer .piece.b8 { bottom: 87.5%; left: 12.5%; }

#piecesLayer .piece.c1 { bottom: 0; left: 25%; }
#piecesLayer .piece.c2 { bottom: 12.5%; left: 25%; }
#piecesLayer .piece.c3 { bottom: 25%; left: 25%; }
#piecesLayer .piece.c4 { bottom: 37.5%; left: 25%; }
#piecesLayer .piece.c5 { bottom: 50%; left: 25%; }
#piecesLayer .piece.c6 { bottom: 62.5%; left: 25%; }
#piecesLayer .piece.c7 { bottom: 75%; left: 25%; }
#piecesLayer .piece.c8 { bottom: 87.5%; left: 25%; }

#piecesLayer .piece.d1 { bottom: 0; left: 37.5%; }
#piecesLayer .piece.d2 { bottom: 12.5%; left: 37.5%; }
#piecesLayer .piece.d3 { bottom: 25%; left: 37.5%; }
#piecesLayer .piece.d4 { bottom: 37.5%; left: 37.5%; }
#piecesLayer .piece.d5 { bottom: 50%; left: 37.5%; }
#piecesLayer .piece.d6 { bottom: 62.5%; left: 37.5%; }
#piecesLayer .piece.d7 { bottom: 75%; left: 37.5%; }
#piecesLayer .piece.d8 { bottom: 87.5%; left: 37.5%; }

#piecesLayer .piece.e1 { bottom: 0; left: 50%; }
#piecesLayer .piece.e2 { bottom: 12.5%; left: 50%; }
#piecesLayer .piece.e3 { bottom: 25%; left: 50%; }
#piecesLayer .piece.e4 { bottom: 37.5%; left: 50%; }
#piecesLayer .piece.e5 { bottom: 50%; left: 50%; }
#piecesLayer .piece.e6 { bottom: 62.5%; left: 50%; }
#piecesLayer .piece.e7 { bottom: 75%; left: 50%; }
#piecesLayer .piece.e8 { bottom: 87.5%; left: 50%; }

#piecesLayer .piece.f1 { bottom: 0; left: 62.5%; }
#piecesLayer .piece.f2 { bottom: 12.5%; left: 62.5%; }
#piecesLayer .piece.f3 { bottom: 25%; left: 62.5%; }
#piecesLayer .piece.f4 { bottom: 37.5%; left: 62.5%; }
#piecesLayer .piece.f5 { bottom: 50%; left: 62.5%; }
#piecesLayer .piece.f6 { bottom: 62.5%; left: 62.5%; }
#piecesLayer .piece.f7 { bottom: 75%; left: 62.5%; }
#piecesLayer .piece.f8 { bottom: 87.5%; left: 62.5%; }

#piecesLayer .piece.g1 { bottom: 0; left: 75%; }
#piecesLayer .piece.g2 { bottom: 12.5%; left: 75%; }
#piecesLayer .piece.g3 { bottom: 25%; left: 75%; }
#piecesLayer .piece.g4 { bottom: 37.5%; left: 75%; }
#piecesLayer .piece.g5 { bottom: 50%; left: 75%; }
#piecesLayer .piece.g6 { bottom: 62.5%; left: 75%; }
#piecesLayer .piece.g7 { bottom: 75%; left: 75%; }
#piecesLayer .piece.g8 { bottom: 87.5%; left: 75%; }

#piecesLayer .piece.h1 { bottom: 0; left: 87.5%; }
#piecesLayer .piece.h2 { bottom: 12.5%; left: 87.5%; }
#piecesLayer .piece.h3 { bottom: 25%; left: 87.5%; }
#piecesLayer .piece.h4 { bottom: 37.5%; left: 87.5%; }
#piecesLayer .piece.h5 { bottom: 50%; left: 87.5%; }
#piecesLayer .piece.h6 { bottom: 62.5%; left: 87.5%; }
#piecesLayer .piece.h7 { bottom: 75%; left: 87.5%; }
#piecesLayer .piece.h8 { bottom: 87.5%; left: 87.5%; }