* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#chessBoard {
  display: block;
  width: 640px;
  height: 640px;
  background-color: rgb(103, 155, 233);
  position: relative;
  font-size: 64px;
  margin-left: 30px;
  overflow: hidden;
}

#gridLayer, #piecesLayer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-wrap: wrap;
}

#gridLayer .square {
  display: block;
  position: relative;
  width: 12.5%;
  height: 12.5%;
}

#gridLayer .square.selected:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 217, 0, 0.5);
}

#gridLayer .square:nth-child(-2n+8), 
#gridLayer .square:nth-child(8) ~ .square:nth-child(-2n+15), 
#gridLayer .square:nth-child(16) ~ .square:nth-child(-2n+24),
#gridLayer .square:nth-child(24) ~ .square:nth-child(-2n+31),
#gridLayer .square:nth-child(32) ~ .square:nth-child(-2n+40),
#gridLayer .square:nth-child(40) ~ .square:nth-child(-2n+47),
#gridLayer .square:nth-child(48) ~ .square:nth-child(-2n+56),
#gridLayer .square:nth-child(56) ~ .square:nth-child(-2n+63) {
  background-color: rgba(0, 0, 0, 0.35);
}

#gridLayer .square.can-move:after {
  content: '';
  display: block;
  position: absolute;
  width: 45%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#gridLayer .square.can-attack:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  border: solid 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#piecesLayer .piece {
  display: flex;
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: bottom 300ms, left 300ms, transform 300ms, opacity 300ms;
  user-select: none;
  cursor: pointer;
  font-size: inherit;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

#piecesLayer .piece.black {
  color: #444;
}

#piecesLayer .piece.white {
  color: white;
}

#piecesLayer .piece.dead,
#piecesLayer .piece.promoted {
  pointer-events: none;
  transform: scale(2);
  opacity: 0;
  z-index: 1;
}


#piecesLayer .piece.a1 { bottom: 0; left: 0; }
#piecesLayer .piece.a2 { bottom: 12.5%; left: 0; }
#piecesLayer .piece.a3 { bottom: 25%; left: 0; }
#piecesLayer .piece.a4 { bottom: 37.5%; left: 0; }
#piecesLayer .piece.a5 { bottom: 50%; left: 0; }
#piecesLayer .piece.a6 { bottom: 62.5%; left: 0; }
#piecesLayer .piece.a7 { bottom: 75%; left: 0; }
#piecesLayer .piece.a8 { bottom: 87.5%; left: 0; }

#piecesLayer .piece.b1 { bottom: 0; left: 12.5%; }
#piecesLayer .piece.b2 { bottom: 12.5%; left: 12.5%; }
#piecesLayer .piece.b3 { bottom: 25%; left: 12.5%; }
#piecesLayer .piece.b4 { bottom: 37.5%; left: 12.5%; }
#piecesLayer .piece.b5 { bottom: 50%; left: 12.5%; }
#piecesLayer .piece.b6 { bottom: 62.5%; left: 12.5%; }
#piecesLayer .piece.b7 { bottom: 75%; left: 12.5%; }
#piecesLayer .piece.b8 { bottom: 87.5%; left: 12.5%; }

#piecesLayer .piece.c1 { bottom: 0; left: 25%; }
#piecesLayer .piece.c2 { bottom: 12.5%; left: 25%; }
#piecesLayer .piece.c3 { bottom: 25%; left: 25%; }
#piecesLayer .piece.c4 { bottom: 37.5%; left: 25%; }
#piecesLayer .piece.c5 { bottom: 50%; left: 25%; }
#piecesLayer .piece.c6 { bottom: 62.5%; left: 25%; }
#piecesLayer .piece.c7 { bottom: 75%; left: 25%; }
#piecesLayer .piece.c8 { bottom: 87.5%; left: 25%; }

#piecesLayer .piece.d1 { bottom: 0; left: 37.5%; }
#piecesLayer .piece.d2 { bottom: 12.5%; left: 37.5%; }
#piecesLayer .piece.d3 { bottom: 25%; left: 37.5%; }
#piecesLayer .piece.d4 { bottom: 37.5%; left: 37.5%; }
#piecesLayer .piece.d5 { bottom: 50%; left: 37.5%; }
#piecesLayer .piece.d6 { bottom: 62.5%; left: 37.5%; }
#piecesLayer .piece.d7 { bottom: 75%; left: 37.5%; }
#piecesLayer .piece.d8 { bottom: 87.5%; left: 37.5%; }

#piecesLayer .piece.e1 { bottom: 0; left: 50%; }
#piecesLayer .piece.e2 { bottom: 12.5%; left: 50%; }
#piecesLayer .piece.e3 { bottom: 25%; left: 50%; }
#piecesLayer .piece.e4 { bottom: 37.5%; left: 50%; }
#piecesLayer .piece.e5 { bottom: 50%; left: 50%; }
#piecesLayer .piece.e6 { bottom: 62.5%; left: 50%; }
#piecesLayer .piece.e7 { bottom: 75%; left: 50%; }
#piecesLayer .piece.e8 { bottom: 87.5%; left: 50%; }

#piecesLayer .piece.f1 { bottom: 0; left: 62.5%; }
#piecesLayer .piece.f2 { bottom: 12.5%; left: 62.5%; }
#piecesLayer .piece.f3 { bottom: 25%; left: 62.5%; }
#piecesLayer .piece.f4 { bottom: 37.5%; left: 62.5%; }
#piecesLayer .piece.f5 { bottom: 50%; left: 62.5%; }
#piecesLayer .piece.f6 { bottom: 62.5%; left: 62.5%; }
#piecesLayer .piece.f7 { bottom: 75%; left: 62.5%; }
#piecesLayer .piece.f8 { bottom: 87.5%; left: 62.5%; }

#piecesLayer .piece.g1 { bottom: 0; left: 75%; }
#piecesLayer .piece.g2 { bottom: 12.5%; left: 75%; }
#piecesLayer .piece.g3 { bottom: 25%; left: 75%; }
#piecesLayer .piece.g4 { bottom: 37.5%; left: 75%; }
#piecesLayer .piece.g5 { bottom: 50%; left: 75%; }
#piecesLayer .piece.g6 { bottom: 62.5%; left: 75%; }
#piecesLayer .piece.g7 { bottom: 75%; left: 75%; }
#piecesLayer .piece.g8 { bottom: 87.5%; left: 75%; }

#piecesLayer .piece.h1 { bottom: 0; left: 87.5%; }
#piecesLayer .piece.h2 { bottom: 12.5%; left: 87.5%; }
#piecesLayer .piece.h3 { bottom: 25%; left: 87.5%; }
#piecesLayer .piece.h4 { bottom: 37.5%; left: 87.5%; }
#piecesLayer .piece.h5 { bottom: 50%; left: 87.5%; }
#piecesLayer .piece.h6 { bottom: 62.5%; left: 87.5%; }
#piecesLayer .piece.h7 { bottom: 75%; left: 87.5%; }
#piecesLayer .piece.h8 { bottom: 87.5%; left: 87.5%; }

#promoteLayer {
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

#promoteLayer .promote {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 12.5%;
  height: 56.25%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#promoteLayer .promote .option {
  display: block;
  width: 100%;
  height: 22.22222%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  color: white;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

#promoteLayer .promote .close {
  display: block;
  width: 100%;
  height: 11.11111%;
  background-color: #ddd;
  color: #333;
  border: none;
  outline: none;
  font-size: 32px;
}

#promoteLayer.white .promote {
  top: 0;
}

#promoteLayer.white .promote .option {
  color: white;
}

#promoteLayer.black .promote {
  bottom: 0;
  flex-direction: column-reverse;
}

#promoteLayer.black .promote .option {
  color: #444;
}

#promoteLayer.a .promote { left: 0; }
#promoteLayer.b .promote { left: 12.5%; }
#promoteLayer.c .promote { left: 25%; }
#promoteLayer.d .promote { left: 37.5%; }
#promoteLayer.e .promote { left: 50%; }
#promoteLayer.f .promote { left: 62.5%; }
#promoteLayer.g .promote { left: 75%; }
#promoteLayer.h .promote { left: 87.5%; }