.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}

.login-form input {
  margin-bottom: 10px;
}