#meme-image-container {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    margin-top: 10px;
    background-color: white;
    position: relative;
}

#meme-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#meme-text {
    display: block;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    /* poderia  ter usado left: 0; e right: 0;*/
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

#earth, #fire, #water {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

#earth {
    background: rgb(60,205,35);
    background: radial-gradient(circle, rgba(60,205,35,1) 25%, rgba(110,97,59,1) 50%, rgba(35,213,71,1) 75%, rgba(11,98,7,1) 100%);
    /* background-color: green; */
}

#fire {
    background: rgb(224,15,15);
    background: radial-gradient(circle, rgba(224,15,15,1) 0%, rgba(228,145,16,1) 25%, rgba(208,229,17,1) 50%, rgba(230,147,17,1) 75%, rgba(252,69,69,1) 100%);
    /* background-color: red; */
}

#water {
    background: rgb(0,126,252);
    background: radial-gradient(circle, rgba(0,126,252,1) 25%, rgba(0,240,252,1) 50%, rgba(44,103,218,1) 74%, rgba(45,240,253,1) 100%);
    /* background-color: blue; */
}

.saved-image {
    height: 80px;
    margin-right: 10px;
}